<div class="search-container">


  <h3>add new friends</h3>
  <div class="add-new-friends-container">
    <% for user in @users %>
    <div>
    <%= user.username %>

    <%= link_to '<i class="icon-plus"></i>'.html_safe, friendships_path(:friend_id => user), :method => :post %> 
    <!--Minus button doesn't work! -->
    <%= link_to '<i class="icon-minus"></i>'.html_safe, friendships_path, :method => :delete %> 
    <% end %>
  </div>
</div>