
<div class="search-container"> 
    <h3>create new user</h3>
    <div class ='add-new-friends'>
      <%= form_for @user do |f| %>
      <div class = 'control-group'>
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>  

      <div id="address"></div>
      <div>
        <input id="user_address" name="user[address]" type="hidden" required>
        <input id="user_longitude" name="user[longitude]" type="hidden" required>
        <input id="user_latitude" name="user[latitude]" type="hidden" required>
      </div>

      <%= f.submit class: 'btn btn-custom' %>
      <% end %>
    </div>
</div>


<div class="map-container">
    <div id="Map">
      <div id="LocateButton"></div>
  </div>
</div>


<script>
  var map;

    require([
      "dojo/dom", 
      "dojo/_base/array",
      "esri/Color",
      "dojo/parser",
      "dijit/registry",

      "esri/dijit/Geocoder",
      "esri/dijit/LocateButton",

      "esri/urlUtils",
      "esri/map",
      "esri/lang",
      "esri/graphic",
      "esri/InfoTemplate",
      "esri/layers/GraphicsLayer",
      "esri/renderers/SimpleRenderer",

      "esri/geometry/Point",
      "esri/tasks/FeatureSet",

      "esri/symbols/SimpleMarkerSymbol",
      "esri/symbols/SimpleLineSymbol",], function(
      dom, array, Color, parser, registry,
      Geocoder, LocateButton,
      urlUtils, Map, esriLang, Graphic, InfoTemplate, GraphicsLayer, SimpleRenderer, 
      Point, FeatureSet,
      SimpleMarkerSymbol, SimpleLineSymbol) {

      var incidentsGraphicsLayer; 
      var geocoder;
      var selectedPoint;
      var latitude;
      var longitude;

      //Create the map so it is pretty for the UI
      map = new Map("Map", {
        center: [-56.049, 38.485],
        zoom: 4,
        basemap: "streets"
      });

      map.on("click", mapClickHandler);

      //Create the geo location button on the map
      var geoLocate = new LocateButton({
        map: map
      }, "LocateButton");
      geoLocate.startup();

      
      map.on("load", function(evtObj) {
          var map = evtObj.target;

          //Origin
          incidentsGraphicsLayer = new GraphicsLayer();
          var incidentPointSymbol = new SimpleMarkerSymbol(SimpleMarkerSymbol.STYLE_CIRCLE, 16, new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID, new Color([89,95,35]), 2), new Color([130,159,83,0.40]));
          var incidentsRenderer = new SimpleRenderer(incidentPointSymbol);
          incidentsGraphicsLayer.setRenderer(incidentsRenderer);
          map.addLayer(incidentsGraphicsLayer);
      });

      geocoder = new Geocoder({
        autoComplete: true,
        map: map,
          arcgisGeocoder: {
            name: "user[address]",
            placeholder: "Your Address"
          },
      }, dom.byId("address"));

      geocoder.on("select", function(e) {  
        if(selectedPoint != null) {
          incidentsGraphicsLayer.remove(selectedPoint);
          selectedPoint = null;
        }

        latitude = e.result.feature.geometry.x;
        longitude = e.result.feature.geometry.y;
        console.log(latitude, longitude);

        selectedPoint = new Graphic(e.result.feature.geometry)

        console.log(e);
        incidentsGraphicsLayer.add(selectedPoint);
        updateLongitudeAndLatitude();
      });

      geocoder.on("clear", function() {
        latitude = null;
        longtitude = null;
        updateLongitudeAndLatitude();
      });

      //clear graphics  
      function clearGraphics() {
        map.graphics.clear();
        incidentsGraphicsLayer.clear();
      }

      function mapClickHandler(e) {
          clearGraphics();
          latitude = e.mapPoint.x;
          longitude = e.mapPoint.y;
          var clickedPoint = new Point(latitude, longitude, map.spatialReference);
          var location = new Graphic(clickedPoint);

          updateLongitudeAndLatitude();
      }

      function updateLongitudeAndLatitude() {
        $("#user_longitude").val(longitude);
        $("#user_latitude").val(latitude);
        $("#user_address").val(geocoder.value);
      }
  });

  $("#new_user").submit(function() {
      var username = $("#user_username").val();
      var longitude = $("#user_longitude").val();
      var latitude = $("#user_latitude").val();
      var address = $("#user_address").val();

      if(username != null && longitude != null && latitude != null && address != null) {
        return true;
      }else {
        alert("Please enter all data");
        return false;
      }
  });

</script>



