<style>
	html, body {
		height: 100%;
	}

	.search-container {
		height: 100%;
	}	

	.map-container {
		height: 100%;
	}



</style>

<div class="search-container span4">
	<form>
		<input type="text" placeholder="My Address">
	</form>

	<form>
		<input type="text" placeholder="Friends Addresss">
	</form>
</div>

<div class="map-container span8">
	Hello this is the right side

</div>
