<style>
	html, body #main{
		height: 100%;
	}

	.search-container {
		width: 30%;
		height: 100%;
		float: left;
		padding: 0 20px;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}	

	.map-container {
		width: 70%;
		height: 100%;
		float: left;
	}

	.simpleGeocoder .esriGeocoderContainer {
		width: 100%;
		margin-bottom: 10px;
	}

	.simpleGeocoder .esriGeocoderContainer input {
		width: 85%;
	}


</style>

<div class="search-container">
	<div id="pointA"></div>
	<div id="pointB"></div>
</div>

<div class="map-container">
    <div id="mapDiv"></div>
</div>

<script>
	var map;
	var pointA;
	var pointB;

  	require(["esri/map", "esri/dijit/Geocoder", "dojo/dom", "dojo/dom-construct", "dojo/query", "dojo/_base/Color","dojo/domReady!"], function(Map, Geocoder, dom) { 
	    map = new Map("mapDiv", {
	      center: [-56.049, 38.485],
	      zoom: 4,
	      basemap: "streets"
	    });

	    pointA = new Geocoder({
	  		autoComplete: true,
	  		map: map,
	  		arcgisGeocoder: {
	    		placeholder: "Your Address"
	  		}
		}, dom.byId("pointA"));

		pointB = new Geocoder({
	  		autoComplete: true,
	  		map: map,
	  		arcgisGeocoder: {
	    		placeholder: "Friend's Address"
	  		}
		}, dom.byId("pointB"));
	});
     

</script>



