<style>
	html, body #main{
		height: 100%;
	}

	.search-container {
		width: 30%;
		height: 100%;
		float: left;
		padding: 0 20px;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}	

	.map-container {
		width: 70%;
		height: 100%;
		float: left;
	}

	form input[type="text"] {
		width: 100%;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    padding: 16px 6px;
	}



</style>

<div class="search-container">
	<form>
		<input type="text" placeholder="My Address">
	</form>

	<form>
		<input type="text" placeholder="Friends Addresss">
	</form>
</div>

<div class="map-container">
    <div id="mapDiv"></div>
</div>

<script>
  var map;
  require(["esri/map", "dojo/domReady!"], function(Map) { 
    map = new Map("mapDiv", {
      center: [-56.049, 38.485],
      zoom: 3,
      basemap: "streets"
    });
  });
     

</script>



