/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

 .container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}







/*
  Midtown Application
*/

  html, body #main{ 
    height: 100%;
  }

  .search-container {
    width: 30%;
    height: 100%;
    float: left;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  } 

  .map-container {
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
  }

  .simpleGeocoder .esriGeocoderContainer {
    width: 100%;
    margin-bottom: 10px;
  }

  .simpleGeocoder .esriGeocoder {
    position: relative;
  }

  .simpleGeocoder .esriGeocoder .esriGeocoderSearch {
    position: absolute;
  }

  .simpleGeocoder .esriGeocoderHasValue .esriGeocoderReset {
    position: absolute;
    right: 0;
  }

  .simpleGeocoder .esriGeocoderContainer input[type=text] {
    width: 100%;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 16px 6px 16px 32px;
      margin: 0;
  }

  .friends-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .friends-container .friend-container {
    display: block;
    margin-bottom: 5px;
  }

  .friends-container .friend {
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
  }

  #MapDiv{

  }

  #Map {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  #LocateButton {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 50;
  } 

  .add-new-friends-container {
    padding: 10px;

    .add-new-friends {
      border: 1px solid black;
      border-radius: 4px;
      width: 20%;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

